.standard,
.sixColumn {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
@media (min-width: 720px) {
  .split {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, 456px);
  }
  .split > article {
    height: auto;
    grid-column: var(--bento-column, auto);
    grid-row: var(--bento-row, auto);
  }
  .split > article:not(.tall) > :first-child {
    max-width: none;
  }
  .split > .tall {
    grid-row: 1 / span 2;
  }
}
@media (min-width: 720px) and (max-width: 1024px) {
  .standard,
  .sixColumn {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1025px) {
  .sixColumn {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
  .sixColumn > article {
    height: 571.2px;
    grid-column: var(--bento-column, auto);
    grid-row: var(--bento-row, auto);
  }
}
